/** --------新登录-------- **/
.login-container{position: absolute; top: 0; right: 0; bottom: 0; left: 0; min-width: 1300px; min-height: 580px; overflow: hidden;}
/** ----新登录——头部---- **/
.login-navbar{position: fixed; z-index: 999; top: 0; right: 0; left: 0; height: 70px;}
.login-navbar-header{margin: 12px auto; width: 1080px; height: 46px; line-height: 46px;}
.login-navbar-brand{float: left; color: #989da8;}
.login-navbar-brand .logo{float: left; margin-right: 10px; width: 35px; height: 46px;}
.login-navbar-brand .brand-name{float: left; margin-left: 10px; margin-right: 10px; font-size: 24px;}
.login-navbar-brand .brand-slogon{float: left;}
@media screen and (max-width: 1200px) {
    .login-navbar-header{padding: 0 20px; width: auto; min-width: 500px;}
}

/** ----新登录——底部---- **/
.login-footer{position: absolute; z-index: 99; right: 0; bottom: 0; left: 0; height: 100px; text-align: center; background-color: rgba(170,186,200,.6);}
.login-footer-foot{margin-top: 23px; display: inline-block; text-align: left;}
.login-footer-foot .logo-company{float: left; margin-top: 5px; width: 113px; height: 35px;}
.login-footer-foot .footer-relative{float: left; margin-left: 20px; font-size: 12px; line-height: 14px;}
.login-footer-foot .footer-relative .footer-relative-block{padding-top: 4px; padding-bottom: 4px;}
.login-footer-foot .footer-link{float: left; padding: 0 10px; font-weight: normal; color: #fff; border-right: solid #fff 1px; cursor: pointer;}
.login-footer-foot .footer-link:last-child{border-right: none;}

/** ----新登录——表单---- **/
.login-form{position: absolute; z-index: 99; top: 50%; right: 200px; overflow: hidden; margin-top: -170px; width: 310px; height: 340px;/* background: url(../images/temp/login-form.jpg) no-repeat;*/ background-color: #fff; border-radius: 5px; box-shadow: 6px 5px 16px 0 rgba(74,49,19,.85); opacity: .8;}
.login-form-container{padding: 0 20px;}
.login-form-title{margin-top: 16px; font-size: 24px;}
/* 表单 */
.login-form .form{margin-top: 21px; margin-bottom: 36px;}
.login-form .form-group{margin-top: 20px;/* margin-bottom: 17px;*/ width: 100%; height: 45px; padding-top: 5px; padding-right: 0; padding-bottom: 5px; padding-left: 0; box-sizing: border-box; border: solid rgba(51,51,51,.4) 1px; border-radius: 3px;}
.login-form .form-group i{float: left; display: block; width: 47px; height: 100%; background: url(../images/login/icons-login.png) no-repeat; border-right: solid #333 1px;}
.login-form .form-group i.user{background-position: 10px 5px;}
.login-form .form-group i.password{background-position: 10px -35px;}
.login-form .form-group input{float: left; padding: 6px 10px; width: 220px; height: 100%; box-sizing: border-box; border: none; outline: none;}
/* 登录按钮 */
.login-form .btn-login{padding: 10px 0; width: 100%; font-size: 18px; color: #fff; text-align: center; background-color: rgba(38,175,245,.7); border-radius: 3px; cursor: pointer;}
/* 记住密码等 */
.login-form .options{margin-top: 8px; color: rgba(51,51,51,.7);}
.login-form .options label{margin-bottom: 0; font-weight: normal;/* cursor: pointer;*/}
.login-form .options > div{cursor: pointer;}
/* 注册 */
.login-form .register-line{position: absolute; bottom: 0; left: 0; padding: 6px 0; width: 100%; color: #fff; text-align: center; background-color: rgba(51,51,51,.6);}
.login-form .btn-register{color: #ffc800; cursor: pointer;}


/** ----新登录——轮播---- **/
.carousel{width: 100%; height: 100%;}
.carousel-inner{width: 100%; height: 100%;}
.carousel-inner > .item{width: 100%; height: 100%;}
.carousel-inner > .item > img{width: 100%; height: 100%; object-fit: cover;}
/** -- 轮播——箭头 -- **/
.carousel-control{top: 50%; margin-top: -35px; width: 40px; height: 70px; overflow: hidden; text-shadow: none;}
.carousel-control.left{left: 60px; background: url(../images/icons_arrows.png) no-repeat;}
.carousel-control.right{right: 60px; background: url(../images/icons_arrows.png) no-repeat -50px 0;}


/** ---- 底部文字 ---- **/
.login-text-block{position: absolute; top: 65%; left: 14%; width: 800px; font-size: 48px; color: #fff; text-align: center;}
@media screen and (max-width: 1500px) { .login-text-block{left: 5%;} }
.login-text-block strong{font-family: lightFont; font-size: 64px;}

/** ---- 小图标 ---- **/
.login-left-icons img{width: 100%; height: 100%; object-fit: cover;}
.login-left-icons .icons{position: absolute;}
.login-left-icons .icons-middle{bottom: 50%;}
.login-left-icons .icons-bottom{bottom: 0; left: 50%;}
.icons-toggle{opacity: 0;}
/* 切换到当前页面时，执行动画 */
.active .login-left-icons .icons-toggle{-webkit-animation: toggleShow 1.8s infinite alternate; -moz-animation: toggleShow 1.8s infinite alternate; -o-animation: toggleShow 1.8s infinite alternate; animation: toggleShow 1.8s infinite alternate;}

#logo{cursor: pointer;}
#logo > img{position: absolute; top: 0; left: 0;}
#logo .front{opacity: 1; transform: rotateY(0deg);/* transition: all 1s;*/}
#logo.animate .front{animation: rotateFront 2s;}
/*#logo.out .front{opacity: 0; transform: rotateY(90deg); transition: all 1s;}
#logo.in .front{opacity: 1; transform: rotateY(0deg); transition: all 1s; transition-delay: 0.5s;}*/

#logo .back{opacity: 0; transform: rotateY(-78deg);}
#logo.animate .back{animation: rotateBack 2s;}
/*#logo.out .back{opacity: 1; transform: rotateY(0deg); transition: all 1s; transition-delay: 0.5s;}
#logo.in .back{opacity: 0; transform: rotateY(0deg); transition: all 1s; transition-delay: 0s;}*/


/** 点击翻转的动画 **/
@keyframes rotateFront{
    /*0%{opacity: 1; transform: rotateY(0deg);}
    25%{opacity: 0; transform: rotateY(102deg);}
    75%{opacity: 0; transform: rotateY(102deg);}
    100%{{opacity: 1; transform: rotateY(0deg);}}*/
    0%{opacity: 1; transform: rotateY(0deg);}
    20%{opacity: 0; transform: rotateY(102deg);}
    80%{opacity: 0; transform: rotateY(102deg);}
    100%{opacity: 1; transform: rotateY(0deg);}
}
@keyframes rotateBack{
    20%{opacity: 0; transform: rotateY(-78deg);}
    40%{opacity: 1; transform: rotateY(0deg);}
    60%{opacity: 1; transform: rotateY(0deg);}
    80%{opacity: 0; transform: rotateY(-78deg);}
}

/** ---- 屏一 ---- **/
/** 左侧小图标区域 **/
#screen-1 .login-left-icons{position: absolute; top: 0; left: 16.5%; bottom: 0; width: 705px; height: 60%;}
@media screen and (max-width: 1500px) { #screen-1 .login-left-icons{left: 8%;} }
/*@media screen and (max-width: 1500px) { #screen-2 .login-left-icons{left: 5%;} }*/
#screen-1 .icons-lines{position: absolute; right: 0; bottom: 0; width: 820px; height: 100%; background: url(../images/login/img-lines-1.png) no-repeat center bottom;}

/** ---- 屏二 ---- **/
/** 左侧小图标区域 **/
#screen-2 .login-left-icons{position: absolute; top: 0; left: 14%; bottom: 0; width: 800px;}
@media screen and (max-width: 1500px) { #screen-2 .login-left-icons{left: 5%;} }
#screen-2 .icons-lines{width: 100%; height: 100%;}

/** ---- 屏三 ---- **/
/** 左侧小图标区域 **/
#screen-3 .login-left-icons{position: absolute; top: 13%; right: 40%; /*left: 0;*/ bottom: 0; width: 1090px; height: 390px;}
@media screen and (max-height: 650px) { #screen-3 .login-left-icons{top: 3%;} }
#screen-3 .icons-lines{float: right; text-align: right; width: 347px; height: 390px; overflow: hidden; background: url(../images/login/img-lines-3.png) no-repeat right center;}
#screen-3.active .icons-lines{-webkit-animation: spreadToRight 1.8s ease forwards; -moz-animation: spreadToRight 1.8s ease forwards; -o-animation: spreadToRight 1.8s ease forwards; animation: spreadToRight 1.8s ease forwards;}

/** 从左向右展开的动画 **/
@-webkit-keyframes spreadToRight{ 100%{width: 100%;} }
@-moz-keyframes spreadToRight{ 100%{width: 100%;} }
@-o-keyframes spreadToRight{ 100%{width: 100%;} }
@keyframes spreadToRight{ 100%{width: 100%;} }

/** 渐隐渐现的动画 **/
@-webkit-keyframes toggleShow{ 0%{opacity: 0;} 7%{opacity: 0;} 90%{opacity: 1;} 100%{opacity: 1;} }
@-moz-keyframes toggleShow{ 0%{opacity: 0;} 7%{opacity: 0;} 90%{opacity: 1;} 100%{opacity: 1;} }
@-o-keyframes toggleShow{ 0%{opacity: 0;} 7%{opacity: 0;} 90%{opacity: 1;} 100%{opacity: 1;} }
@keyframes toggleShow{ 0%{opacity: 0;} 7%{opacity: 0;} 90%{opacity: 1;} 100%{opacity: 1;} }
