@charset "utf-8";
*{font-family:"Microsoft Yahei"}
html,body{height:100%; width:100%; overflow:auto; margin:0; padding:0;background:#fff}
.clearFix:after, .clearFix:before{content: ''; display: block; clear: both;}
.login-head{height:70px;width:100%;background:#fff;position:relative}
.login-head .login-head-logo{background:url("../images/logo.png") no-repeat 0 0;height:31px;width:130px;position: absolute;left:10%;top:20px}
.login-head .login-head-btn{;position: absolute width:176px;height:33px;position:absolute;right:10%;top:18px}
.login-head .login-head-btn div{width:78px;height:33px;float:left;margin:0 5px}
.login-head .btn1{}
.login-head .btn2{}
.doc-head{height:45px;width:100%;background:#1397da}
.doc-label{position:absolute;margin:0 auto;width:100%;left:0}
.doc-label .labels-block{width:160px;height:35px;margin:0 auto}
.doc-label .labels-block div{width:80px;height:100%;float:left;color:#1397da;text-align: center;line-height:35px;background:#fff;cursor:pointer}
.doc-label .labels-block .active{background:#1397da;color:#fff}
.doc-body{width:100%;position: relative}

.doc-login-body{width:100%;position: absolute; top: 70px; right: 0; bottom: 0; left: 0;}

.doc-temp-body{position: relative; padding: 10px;}
.doc-body-left,.doc-body-right{height:100%;float:left}
.doc-body-left{width:8%;border-right:0px solid #ced1dc;position:relative;z-index:2;background:#f0f2fa;}
.doc-body-right{background:#fff;position:relative;width:92%}



.work-space{position: relative; width: 100%; min-height: 100%;}
/*.work-space{height:100%;width:100%;position:absolute;left:0;top:0;z-index:1}*/

.doc-body-all{width:100%;height:100%;position:absolute;top:0px;left:0;background:#fff;z-index:999;}


.doc-body-left .menus-btn{width:100%;border-bottom:1px solid #ced1dc;border-right:1px solid #ced1dc;height:80px;text-align:Center;line-height:30px;margin:0;color:#333;overflow:hidden;white-space: nowrap;text-overflow:ellipsis}
.doc-body-left .menus-btn-auto{border-bottom:1px solid #ced1dc;border-right:1px solid #ced1dc;}
.doc-body-left .menus-btn,.doc-body-left .menus-btn-auto{background:#f0f2fa;color:#333;cursor:pointer;position: relative}
/*.doc-body-left .menus-btn:hover{background:#fff;color:#1397da;border-right:1px solid #fff}*/
.doc-body-left .active,.doc-body-left .choose{background:#fff;color:#333;border-right:1px solid #fff}
.menus-nodes{display:none;position: absolute;left:100%;height:auto;width:120px;background: #fff;z-index:9;border-top: 1px solid #ced1dc;border-right: 1px solid #ced1dc;border-left: 1px solid #ced1dc;}
.menus-nodes div{height:35px;text-align:center;line-height: 35px;border-bottom:1px solid #ced1dc;cursor: pointer}
.menus-nodes div:hover{color:#fff;background: #1397da}

.doc-test{height:100%;width:100%;background:#fff;}
.doc-transmit{height:100%;width:100%;background:#fff;padding-top:20%}
.doc-test1{height:100%;width:100%;background:#fff;color:#333;text-align:Center;font-size:16px;padding-top:10%}
.work-space-active{z-index:0}
.doc-login{background:url("../images/bg.jpg")#0b1e24 no-repeat 50% 50%;height:500px;width:100%;float:left}
.form-block{height:320px;width:350px;border-top:5px solid #0094da;position:absolute;top:116px;right:15%;background:#fff;}
.form-block .tag1{height:90px;width:35px;position:absolute;top:0px;right:-35px;background: #fff;padding:10px;line-height:14px;cursor:pointer}
.form-block .tag2{height:90px;width:35px;position:absolute;top:100px;right:-35px;background: #f0f2fa;padding:10px;line-height:14px;cursor:pointer}
.form-block .block-up{height:190px;width:100%;padding:40px 40px 0 40px}
.form-block .block-up1{height:260px;width:100%;padding:40px 40px 0 40px}
.form-block .block-down{height:130px;width:100%;background: #f0f2fa;padding:20px 40px 0 40px}
.form-block .block-down1{height:100px;width:100%;background: #fff;padding:20px 40px 0 40px}
.form-block .block-down .right-lable{float:right}
.form-block .form-block-title{position:absolute;height:50px;width:100%;top:-60px;left:0;text-align:center;line-height:50px;color:#2abbf7;font-size:24px}
.form-block .form-block-msg{position:absolute;height:26px;width:100%;top:0px;left:0;text-align:center;line-height:26px;color:#892e16;font-size:12px;background:#f0d6d0}
.reg-block{display:none}
#codetitle{width:100%;float: left}
#msgcode{width:70%;float: left;}
#send{width:25%;float: right;}
.doc-bottom{width:100%;background:#fff;float:left}
.bottom-block{width:630px;height:48px;background:#fff;margin:30px auto;color:#333;font-size:12px}
.bottom-block .d1{height:14px;line-height:14px;width:100%;text-align:center}
.bottom-block .d1 a{color:#333;border-right:1px solid #aaa;text-align: center;display: block;width:70px;float:left}
.bottom-block .d1 .right-a{border-right:none}
.bottom-block .d2{height:34px;text-align: center;line-height:34px;float:left;width:100%}
.title-block{height:60px;width:100%;padding:20px 0 0 10px;font-size:16px;/*float:left;*/font-weight: bold}
.search-block{width:100%;background:#f0f2fa;/*float:left;*//*padding:10px*/}
.table-block{width:100%;/*float:left;*/margin:20px 0 0 0}
/*.table-block table td{border-top:none}*/

.table1{border:10px solid #f0f2fa}
/*.row1{background:#f0f2fa;}*/

.table-block .table1{border:0px solid #f0f2fa}



body{/*position: absolute; top: 0; right: 0; bottom: 0; left: 0;*/ color: #333;}
.container-page{position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.doc-head{}
.doc-body{position: absolute; top: 45px; right: 0; bottom: 0; left: 0;}

/** --------欢迎页-------- **/
.body-welcome{position: absolute; width: 100%; height: 100%; background-color: #fff;}
.body-welcome .welcome-text{display: table; width: 100%; height: 100%;}
.body-welcome p{display: table-cell; font-size: 40px; font-weight: bold; color: #1397da; text-align: center; vertical-align: middle;}

/** --------布局-------- **/
/** --------顶部导航-------- **/
.navbar{min-height: 45px;}
.navbar-default{margin-bottom: 0; height: 45px; background-color: #1397da; border: none; border-radius: 0;}
/** --------内容-------- **/
.container-fixed{position: absolute; top: 45px; right: 0; bottom: 0; left: 0;display: none}
.container-fixed > .row{height: 100%;}
.page-content{position: absolute; z-index: 0; top: 0; right: 0; bottom: 0; left: 120px; padding: 0; /*overflow-y: auto;*/}

/** --------左侧导航-------- **/
.slidebar{position: fixed; z-index: 900; top: 45px; bottom: 0; left: 0; padding: 0; width: 120px; overflow: visible; background-color: #f0f2fa; border-right: solid #ced1dc 1px;}
.slidebar-title{position: relative;}
.slidebar-title > li{padding-top: 5px; padding-bottom: 5px; height: 80px; text-align: center; border-bottom: solid #ced1dc 1px; cursor: pointer;}
/** 导航栏——选中状态 **/
.slidebar-title:hover > li, .slidebar-title.active > li{background-color: #fff;}
.slidebar-title.active > li:after{content: ''; position: absolute; top: 0; right: -1px; width: 1px; height: 100%; background-color: #fff;}
.slidebar-list{display: none; position: absolute; top: -1px; left: 100%; width: 220px; background-color: #fff; border: solid #ced1dc 1px;}
.slidebar-list > li{padding: 5px 20px; height: 35px; border-bottom: solid #ced1dc 1px; box-sizing: border-box; cursor: pointer;}
.slidebar-list > li:last-child{border-bottom: none;}
.slidebar-list > li:hover{color: #fff; background-color: #1397da;}
/** 图标 **/
.slidebar-title i{display: block; margin: 5px auto; margin-bottom: 10px; width: 30px; height: 30px; background: url(../images/icons_all.png) no-repeat;}
.slidebar-title i.agency{background-position: 0 0;}
.slidebar-title i.baseData{background-position: -65px 0;}
.slidebar-title i.check{background-position: -130px 0;}
.slidebar-title i.setting{background-position: -195px 0;}
.slidebar-title i.goods{background-position: -260px 0;}
.slidebar-title i.shop{background-position: -325px 0;}
.slidebar-title i.brand{background-position: -390px 0;}

/** --------表格-------- **/
.table > thead > tr > th, .table > tbody > tr > td{vertical-align: middle; border-top: none; border-bottom: none;}
.table-striped > thead > tr > th, .table-striped > thead > tr > td{background-color: #f0f2fa;}
.table-striped > tbody > tr:nth-of-type(even){background-color: #f0f2fa;}
.table-striped > tbody > tr:nth-of-type(odd){background-color: #fff;}
.table-block .table-title{padding: 20px 0 0 10px; width: 100%; height: 60px; font-size: 16px; font-weight: bold;}
.table-block .table .btn-link{margin-right: 10px; padding: 0; color: #333; text-decoration: underline;}
.table-block .table .btn-link:hover{color: #17adf2;}
.table-block .table .mark{width: 65px;}
/** --------表单-------- **/
.form-control{border-radius: 0;}

.search-block{padding: 5px 10px;}
.search-block label{font-weight: normal;}
.search-block .btn{margin-right: 10px; width: 80px;}
.search-block .form-inline .form-group{margin-top: 5px; margin-right: 20px; margin-bottom: 5px;}
.search-block .form-inline .form-control{margin-left: 10px;}
.search-block .form-inline input.form-control{width: 170px;}

/** --------按钮-------- **/
.btn-block{margin-top: 20px; margin-bottom: 20px;}
.btn{box-sizing: border-box; border-radius: 0;}
.btn-default{color: #333; background-color: #f0f2fa; border-color: #ced1dc;}
.btn-default:hover, .btn-default.focus, .btn-default:focus{background-color: #ced1dc; border-color: #ced1dc;}
.btn-primary{color: #fff; background-color: #17adf2; border-color: #17adf2;}
.btn-primary:hover, .btn-primary.focus, .btn-primary:focus{background-color: #0094da; border-color: #0094da;}
.btn-success{color: #fff; background-color: #02be49; border-color: #02be49;}
.btn-success:hover, .btn-success.focus, .btn-success:focus{background-color: #009b39; border-color: #009b39;}
.btn-info{color: #fff; background-color: #0fdbd3; border-color: #0fdbd3;}
.btn-info:hover, .btn-info.focus, .btn-info:focus{background-color: #00c8c1; border-color: #00c8c1;}
.btn-warning{color: #fff; background-color: #ffbe00; border-color: #ffbe00;}
.btn-warning:hover, .btn-warning.focus, .btn-warning:focus{background-color: #e9ae00; border-color: #e9ae00;}
.btn-danger{color: #fff; background-color: #f26c4e; border-color: #f26c4e;}
.btn-danger:hover, .btn-danger.focus, .btn-danger:focus{background-color: #e55937; border-color: #e55937;}
.btn-special{color: #fff; background-color: #333; border-color: #333;}
.btn-special:hover, .btn-special.focus, .btn-special:focus{color: #fff; background-color: #333; border-color: #333;}
.btn-link{color: #1397da; background-color: transparent; border-color: transparent;}
.btn-link:hover, .btn-link.focus, .btn-link:focus{text-decoration: underline;}


/** --------警告-------- **/
.alert{border-radius: 0;}
.alert-standard{color: #989da8; background-color: #f0f2fa; border: none;}
.alert-success{color: #00642c; background-color: #d0f4d0; border: none;}
.alert-info{color: #099D99; background-color: #d2eeed; border: none;}
.alert-warning{color: #6f5400; background-color: #ffe799; border: none;}
.alert-danger{color: #892e16; background-color: #f0d6d0; border: none;}


/** --------校验状态的表单-------- **/
.has-warning .control-label, .has-warning .help-block, .has-error .control-label, .has-error .help-block{color: #333;}
.has-warning .form-control, .has-warning .form-control:focus{border-color: #26aff5;}
.has-error .form-control, .has-error .form-control:focus{border-color: #f76c4a;}

/** --------标记-------- **/
.mark{display: block; margin: 0; padding: 0 10px; color: #fff; text-align: center;}
.mark-default{background-color: #989da8;}
.mark-success{background-color: #00c052;}
.mark-danger{background-color: #f56c50;}

/** --------弹出-------- **/
.pop{display: none; position: fixed; z-index: 9999; top: 0; right: 0; bottom: 0; left: 0;}
/** 弹出提示框 **/
.popup{position: absolute; z-index: 999; top: 50%; left: 50%; margin-top: -120px; margin-left: -150px; width: 300px; height: 240px; text-align: center; background-color: #fff; border-top: solid #0094da 6px; box-shadow:0px 0px 20px 0px rgba(184,191,197,0.50);}
.popup .popup-title{margin-top: 25px; margin-bottom: 20px; height: 30px; line-height: 30px; font-size: 24px; font-weight: bold;}
.popup-icon{height: 45px;}
.popup-icon > i{display: block; margin: 0 auto; width: 45px; height: 45px; background: url(../images/icons_all.png) no-repeat;}
.popup-icon > i.confirm{background-position: -65px -100px;}
.popup-icon > i.success{background-position: 0 -100px;}
.popup-icon > i.check{background-position: -325px -100px;}
.popup-icon > i.warning{background-position: -130px -100px;}
.popup-info{margin-top: 10px; padding: 0 30px; color: #989da8; text-align: center;}
.popup-btn-block{position: absolute; bottom: 20px; margin-top: 10px; margin-right: 0; margin-left: 0; width: 100%;}
.popup-btn-block .btn{width: 100%;}



/** 弹出输入框 **/
.popup-fill{position: absolute; z-index: 999; top: 50%; left: 50%; margin-top: -170px; margin-left: -310px; width: 620px; height: 340px; text-align: center; background-color: #fff; border-top: solid #0094da 6px; box-shadow:0px 0px 20px 0px rgba(184,191,197,0.50);}
.popup-fill .popup-title{margin: 0; height: 45px; line-height: 45px; font-size: 18px; font-weight: bold; background-color: #f0f2fa;}
.popup-fill form{margin-top: 20px; margin-bottom: 20px;}
.popup-fill textarea{resize: none;}
.popup-fill .control-label{font-weight: normal;}
.popup-fill .btn{width: 100%;}


/** --------商品管理-------- **/
.doc-commodityManagement1{position: relative;padding-bottom: 40px;}
.commodity-btn-apply{margin-left:20px;}
.commodity-classify{margin-bottom:50px;font-size: 16px;}
.commodity-classify span{font-size: 18px;}
.commodity-classify a{margin-left: 6px;}
.commodity-search{margin: 0 0 10px 215px;font-size: 16px;}
.commodity-search input{width: 400px;}
.commodity-table .table-info{margin:0 0 5px 16px;}
.commodity-table .table-info span{color:#FF0F13;}
.releaseGoods{padding:50px 0 200px;}
.releaseGoods>div>div{margin-top: 20px;}
.releaseGoods label{margin-right: 50px;}
.releaseGoods label input {margin-right:5px;}
.releaseGoods .releaseGoods-sellprice span,
.releaseGoods .releaseGoods-discount span,
.releaseGoods .releaseGoods-stock span{width:90px;text-align: center;display: inline-block;}
.btn-affirm{width: 142px; height:45px;border:none;background-color: #02be49;color:#fff;font-size: 18px;margin-right: 20px;}
.block-padding{padding:30px;background-color: #f0f2fa;}
.goodsPic-content p{color:#5ea6c2;background-color:#d2eded;padding: 10px 12px;margin:20px 0;}
.sizeAttr-content .add p {display: inline-block;color:#26aff5;height: 24px;float:left;}
.sizeAttr-content .add .icon-add{margin-right:5px;width: 24px;height: 24px;line-height: 15px; text-align: center;border-radius: 24px;border: 2px solid #26aff5;font-size: 24px;}
.addTip p{color:#5ea6c2;background-color:#d2eded;padding: 10px 12px;}
.add{margin-top: 10px;float:left;}
.addTip{float:left;}
.goodsPic-upload{padding:20px;}
.goodsPic-upload ul{list-style: none;padding:0;margin:0;}
.goodsPic-upload li{width: 100px;height: 100px;margin-right: 20px;float:left;position:relative;}
.goodsPic-upload li img{width: 100%;}
.goodsPic-upload .upload-btn{width: 32px;height:24px;background-color: #000;opacity: 0.5;position: absolute;bottom:0;cursor:pointer;}
.goodsPic-upload .upload-btn-left{left:0;}
.goodsPic-upload .upload-btn-delect{right:0;}
.goodsPic-upload .upload-btn-right{left:50px;margin-left:-16px;}
.arrow-left{width:0; height:0; border-top:6px solid transparent;border-bottom:6px solid transparent; border-right:10px solid #01bd48;position: absolute;left:10px;top:6px;}
.arrow-right{width:0; height:0; border-top:6px solid transparent;border-bottom:6px solid transparent; border-left:10px solid #01bd48;position: absolute;left:10px;top:6px;}
.arrow-close{color: red;line-height: 20px;text-align: center;height: 20px;width: 20px;font-size: 14px;padding: 1px;position: absolute;top:0px;left:5px;}
.arrow-close::before {content: "\2716";}
.first-upload-btn .arrow-left{border-top:6px solid transparent;border-bottom:6px solid transparent; border-right:10px solid #969494;}
.last-upload-btn .arrow-right{border-top:6px solid transparent;border-bottom:6px solid transparent; border-left:10px solid #969494;}
/*.btn-cancel{width: 142px; height:45px;color:#989da8;font-size: 18px;}*/
.releaseGoods-btn{text-align: center;}
.commodity-inquire .commodity-name span,
.commodity-inquire .commodity-model span,
.commodity-inquire .commodity-state span{width:90px;text-align: center;display: inline-block;}
.commodity-inquire>div>div{margin-bottom: 20px;}
.commodity-inquire select{width: 205px;}
.commodity-inquire input{width: 210px;}
.doc-commodityManagement{padding:10px;}
.doc-commodityManagement table{margin-top: 10px;}
.table-info span{color:red;}
.addGoods-table>div>div{margin: 20px 0;}
/** --------基础数据管理-------- **/
.table-title{padding:20px 0;}
.doc-basicDataManagement{padding:10px;}
.doc-basicDataManagement table{margin-top: 10px;}
.basicDataManagement-inquire .basicDataManagement-model span,
.basicDataManagement-inquire .basicDataManagement-name span,
.basicDataManagement-inquire .basicDataManagement-classify span,
.basicDataManagement-inquire .basicDataManagement-seriesName span,
.basicDataManagement-inquire .basicDataManagement-state span{width:90px;text-align: center;display: inline-block;}
.basicDataManagement-inquire input{width: 210px;}
.basicDataManagement-state select{width:205px;}
.basicDataManagement-classify select{width:60px;margin-right: 10px;}
.basicDataManagement-inquire>div>div{margin-bottom: 20px;}
.basicDataManagement-remark{margin:60px 0 25px 10px;}
.color-type li{float:left;width:73px;height:51px;list-style: none;margin-right: 2px;border:1px solid #dadce5;cursor:pointer;border-bottom: none;position: relative;}
.color-title{height:16px;}
.color-font{text-align: center;line-height: 33px;width:73px;}
.color-type .sel{position: absolute; top:17px;border-bottom: 1px solid #fff;z-index: 9;}
.color-select{border:1px solid #dadce5;height:151px;margin-left: 40px;padding-top: 35px;width:824px}
.color-select>div>div>input{float:left;margin: 10px 12px 0 0;}
.color-select>div>div>div{float:left;width:68px;}
.color-select>div>div>div>p{height:22px;width:68px;border:1px solid #dadce5;text-align: center;}
.color-select-title{height:8px;border: 1px solid #dadce5;border-bottom: none;}
.none-input-color{display: none;}
.color-type{margin-bottom: 20px;}
.color-type-talbe{  padding-left: 25px;width: 849px;}

/** --------使用类目-------- **/
.userType-select{width: 200px;}
.type-block{padding:25px 25px 100px 35px;background: #f0f2fa none repeat scroll 0 0;width: 100%;margin-top:20px;}
.type-first,
.type-second,
.type-third{width:305px;height:545px;background-color:#fff;float:left;margin-right: 25px;}
.type-first li,
.type-second li,
.type-third li{position: relative;list-style: none;font-size: 16px;padding: 5px 20px;}
.type-block ul {padding:0;margin: 0px;}
.type-block .sel{background-color: #1397da;color:#fff;}
.type-block .sel::after{border-right: 2px solid #fff;border-top: 2px solid #fff;content: "";height: 10px;margin-top: -2px;position: absolute;right: 40px;top: 50%;transform: rotate(45deg);width: 10px;}
.type-second li::after{border-right: 2px solid #000;border-top: 2px solid #000;content: "";height: 10px;margin-top: -2px;position: absolute;right: 40px;top: 50%;transform: rotate(45deg);width: 10px;}
.type-btn{margin-top:100px;}
/** --------录入-------- **/

.body-typein{position: relative; margin: 0 auto; padding: 0 20px;/* width: 1040px;*/ overflow-x: hidden;}

.body-typein .title-block{margin-bottom: 20px; font-size: 24px; text-align: center;}
.body-typein .module-title{margin-top: 20px; margin-bottom: 20px; height: 35px; line-height: 35px; color: #fff; text-align: center; background-color: #1397da;}
/** 可收缩的表单 **/
.form-block-contractive .block-title{margin-top: 20px; margin-right: 0; margin-bottom: 20px; margin-left: 0; height: 45px; line-height: 45px; font-size: 18px; font-weight: bold; background-color: #f0f2fa; cursor: pointer;}
.form-block-contractive .block-title > div{position: relative; text-align: right;}
.form-block-contractive .block-title > div:after{content: ''; position: absolute; top: 50%; right: -30px; margin-top: -2px; width: 12px; height: 12px; border-top: solid #989da8 1px; border-right: solid #989da8 1px; transform: rotate(-45deg); transition: all 0.5s ease;}
.form-block-contractive.contractive .block-title > div:after{margin-top: -8px; transform: rotate(135deg);}
/** ----表单---- **/
.body-typein .form-horizontal .form-group{margin-right: 0; margin-left: 0;}
.body-typein .form-horizontal label{font-weight: normal;}
.body-typein .form-horizontal .alert{margin-bottom: 0; padding: 7px 15px;}
.body-typein .form-horizontal i{margin-right: 5px; font-size: 16px; font-style: normal; color: #f00;}
.body-typein .form-horizontal .divid{float: left; padding-top: 7px;}
.body-typein .btn{width: 100%;}
.body-typein .btn-block{margin-top: 30px; margin-bottom: 20px;}
.body-typein .btn-block .btn{margin-left: 0; margin-right: 20px; width: 140px;}
.body-typein .form-horizontal .row-canAdd .form-control{margin-bottom: 10px;}



/** 表单——资料上传 **/
.form-loading{position: relative;}
/** 表单中的大图展示区域 **/
.form-loading .media-show{position: absolute; bottom: -10px; right: 20px; width: 400px; height: 400px; box-shadow: 0 0 9px 0 rgba(0,0,0,0.18);}
.form-loading .media-show .btn-close{position: absolute; top: 0; right: 0; padding: 5px; width: 35px; height: 35px; background: url(../images/icons_all.png) no-repeat; background-position: -715px -200px; cursor: pointer;}
/** 表单中图片 **/
.body-typein .form-horizontal .media{float: left; position: relative; width: 34px; height: 34px; cursor: pointer;}
/** 鼠标滑过图片显示放大镜图片 **/
.form-loading .media:hover:before, .form-loading .media:hover:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.form-loading .media:hover:before{background-color: rgba(51,51,51,.5);}
.form-loading .media:hover:after{background: url(../images/icons_all.png) no-repeat; background-position: -650px -200px;}
.form-loading .media img, .form-loading .media-show img{width: 100%; height: 100%; object-fit: cover;}
/** 删除按钮 **/
.body-typein .btn-link-delete, .body-typein .btn-link-download{width: auto; color: #ced1dc; text-decoration: underline;}

/** 提示 **/
.body-typein .form-horizontal .tips-block{margin-top: 10px; margin-bottom: 0; font-size: 12px; color: #989da8;}
.body-typein .form-horizontal .tips-block > p{margin-bottom: 0;}
/** 上传 **/
.body-typein .form-horizontal .file-name{display: inline-block; padding: 6px 10px; height: 34px; line-height: 20px; font-size: 12px;}
.body-typein .form-horizontal .form-onload{display: table; position: relative; width: 100%; height: 100px; border: solid #ced1dc 1px; cursor: pointer;}
.body-typein .form-horizontal .form-onload > span{display: table-cell; color: #989da8; text-align: center; vertical-align: middle;}

.row1{background:#f0f2fa;}
.reg-msg-block{background:#ffffff;box-shadow:0px 0px 20px 0px rgba(184,191,197,0.50);width:280px;height:220px;margin:200px auto;border-top:6px solid #0094da}
.reg-msg-block .rmb1{font-size: 22px;height:50px;width:100%;text-align: center;line-height: 50px;margin:10px 0 0 0}
.reg-msg-block .rmb2{background: url("../images/icons_all.png") no-repeat 0px -100px;height:45px;width: 45px;margin:0 auto }
.reg-msg-block .rmb3{color:#989da8;height:50px;width:70%;margin:15px auto 0;line-height:20px;text-align:center;}
.reg-msg-block .rmb4{height:30px;width:100%;text-align:center;line-height:30px}
.reg-msg-block .rmb4 a{text-decoration: underline;color:#989da8;cursor:pointer}
.table-block td div{height:22px;line-height:22px;padding:0 10px}
.cpdstep2{display:none}
.sd-btn-back{position:absolute;top:-110px;left:-110px}
.sd-choose-step1,.sd-choose-step2{width:720px;height:220px;margin:130px auto;position:relative;display: none}
.sd-btn-radius{width:320px;color:#fff;margin:0 20px;float:left;text-align:center;position: relative;background:#fff;padding:0;border:0;border-top:6px solid #0094da}
.sd-btn-radius:hover{box-shadow:0px 0px 20px 0px rgba(184,191,197,0.50);border-top:6px solid #0094da}
.sd-btn-radius .div1{height:100px;width:100%;background:#00aaf2;line-height:100px;float: left}
.sd-btn-radius .div1:hover{background:#0094da}
.sd-btn-radius .div2{font-size:12px;display:none;width:100%;background:#fff;float: left;color:#333;padding:10px 10px 20px 10px;white-space: normal;text-align: left;display:none}
.sd-btn-radius .div2 .p-title{color:#0094da;margin:10px 0 0 0}
.sd-btn-radius .div2 .p-cont{color:#aaa;margin: 5px 0 0 0}
.index-head-logo{height:45px;width:200px;line-height:45px;text-align:center;font-size:16px;float: left;color:#fff;cursor:pointer}
.index-head-user{height:45px;width:200px;line-height:45px;text-align:center;position:relative;float: right;color:#fff;font-size:14px;cursor:pointer}
.index-head-user .ihu-title-block{position:absolute;top:45px;left:0;width:200px;height:100px;display: none;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;background: #fff}
.index-head-user .ihu-title-block div{border-top:0px solid #fff;font-size:14px;cursor:pointer}
.btn-index{background:#0c5689;color:#fff;}
.btn-index:hover{background:#337ab7}
.btn-index-child{background:#fff;color:#333;height:33px;line-height:33px}
.btn-index-child:hover{background:#1397da;color:#fff}
.body-panel{width:auto;padding:0 0 0 50px}
.body-panel .title-block{padding-left:0}
.ba-back{margin:50px 0 0 0}
.goodsPic-upload{background-color:#f0f2fa;padding:20px;}


/** --------页面导航-------- **/
.nav-page{position: fixed; z-index: 9999; top: 50%; right: 50px; margin-top: -100px; width: 100px; text-align: center; background-color: #fff; border: solid #ced1dc 1px;}
.nav-page a, .nav-page a:hover{display: block; color: inherit; text-decoration: none;}
.nav-page p{margin: 0; padding: 0; height: 35px; line-height: 35px; border-bottom: solid #ced1dc 1px;}
.nav-page p:last-child{border-bottom: none;}
.nav-page p.nav-title{color: #fff; background-color: #0c5689;}
.nav-page p.active{color: #fff; background-color: #1397da;}


.page-nav{position: fixed; z-index: 9999; top: 50%; right: 50px; margin-top: -100px; width: 100px; text-align: center; background-color: #fff; border: solid #ced1dc 1px;}
.page-nav .nav-title{width: 100%; height: 35px; line-height: 35px; color: #fff; background-color: #0c5689;}
.page-nav .nav-list li a{display: block; margin: 0; padding: 0; color: inherit; text-decoration: none;}
.page-nav .nav-list li a, .page-nav .nav-list li a:hover, .page-nav .nav-list li a:focus{margin: 0; padding: 0; height: 35px; line-height: 35px; text-align: center;}
.page-nav .nav-list li.active a{color: #fff; background-color: #1397da;}


/** --------分页-------- **/
.nav-pagination{text-align: right;}
.pagination{margin-top: 0; margin-bottom: 0;}
.pagination > li > a:hover{color: #26aff5; background-color: transparent; border: solid #26aff5 1px;}
.pagination > li > a:focus, .pagination > li.active > a, .pagination > li.active > a:hover, .pagination > li.active > a:focus{color: #989DA8; background-color: #f0f2fa; border-color: #ddd;}

.table-ctrl{font-weight: bold;float:left;cursor: pointer;coloe:#333}
.table-ctrl:hover{color:#0c5689}
.cic-btn-del{background: url("../images/icons_all.png") no-repeat -718px -202px;height:30px;width: 30px;cursor:pointer}
.cic-btn-del:hover{background-color: #f1f1f1}

/** 弹出输入框 **/
.popup-default{text-align: center; background-color: #fff; border-top: solid #0094da 6px; box-shadow:0px 0px 20px 0px rgba(184,191,197,0.50);}
.popup-default .popup-title{margin: 0; height: 45px; line-height: 45px; font-size: 18px; font-weight: bold; background-color: #f0f2fa;}
.popup-default form{margin-top: 20px; margin-bottom: 20px;}
.popup-default textarea{resize: none;}
.popup-default .control-label{font-weight: normal;}
.popup-default .btn{width: 100%;}
.popup-auth{width: 320px; height: 340px; }
.lockbg{position: absolute;width:100%;height:100%;background: #000;z-index:2;left: 0;top: 0; filter: Alpha(opacity=60); -moz-opacity:0.6; opacity:0.6;display: none}
.cic-pop{width: 320px; height: 340px; position: absolute;background: #fff;display: none}
.popcenter { position: fixed;top: 50%;  left: 50%;z-index:99;  -ms-transform: translate(-50%,-50%);  -moz-transform: translate(-50%,-50%);  -o-transform: translate(-50%,-50%);  transform: translate(-50%,-50%);  }
#cmg-upload{cursor: pointer}
.popup-upload{width: 300px; height: 200px; }
.loading {  height: 50px;  width: 50px;  background: url("../images/loading.png") no-repeat 0 0;  -webkit-animation: bounce 1.0s infinite linear;  animation: bounce 1.0s infinite linear;  }
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}
@keyframes bounce {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

